<%- model_class = Poll -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Poll_link) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.name, poll_path(poll) %></td>
        <td>
	       	<%= link_to "See the poll questions",
				                          poll_questions_path(poll), :class => 'btn'  %>
          <%= link_to "Edit this poll", edit_poll_path(poll), :class => 'btn btn-mini' %>
          <%= link_to "Destroy this poll",
                      poll_path(poll),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create your own poll",
            new_poll_path,
            :class => 'btn btn-primary' %>
